<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>872614801497-109jcjl5oreen1d45t4akgfelsshhnd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872614801497-109jcjl5oreen1d45t4akgfelsshhnd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBM2YmXt5a0NtyYOkMHNY08HPtxuwZEpxI</string>
	<key>GCM_SENDER_ID</key>
	<string>872614801497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tipso.tabi-</string>
	<key>PROJECT_ID</key>
	<string>tabi-f72d6</string>
	<key>STORAGE_BUCKET</key>
	<string>tabi-f72d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:872614801497:ios:90dece2b404f358bd58148</string>
	<key>DATABASE_URL</key>
	<string>https://tabi-f72d6-default-rtdb.firebaseio.com</string>
</dict>
</plist>
